<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b95aaee2f3.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
        
        <title>nexter &mdash; your home, your freedom</title>
    </head>
    <body class="container">
        <div class="portfolio">
            <div class="portfolio__info">
                <div class="portfolio__menu">
                    <div class="portfolio__icon"></div>
                    <ul class="portfolio__menu-list">
                        <li class="portfolio__menu-item">works</li>
                        <li class="portfolio__menu-item">cv</li>
                    </ul>
                </div>
                <div class="portfolio__typography">
                    <div class="portfolio__title">Yaron Pariente</div>
                    <div class="portfolio__subtitle">UX/UI Product Designer</div>
                    <div class="portfolio__texts">
                        <div class="portfolio__paragraph">
                            As a skilled and a multi-discipline product designer with over 15 years of experience in the digital field,
                            I have a range of knowledge and experience that gives me the ability to contribute, towerd and serve both the user and the product.
                        </div>
                        <div class="portfolio__paragraph" style="width: 70%">
                            I love exploring and build the product with full attention for the UX process,
                            And a pixel perfect in UI, from inception to final product.
                            My skill lies in successfully conceptualizing, challenging, user sensitiveness
                            and passionate.
                        </div>
                        <ul class="portfolio__strange-list">
                            <li class="portfolio__strange-item">Experience with ownership of full UX/UI design process.</li>
                            <li class="portfolio__strange-item">Ability to craft a prototypes and motion tools.</li>
                            <li class="portfolio__strange-item">Manage tasks according to set priorities.</li>
                            <li class="portfolio__strange-item">Specialty working directly with developers.</li>
                            <li class="portfolio__strange-item">High level of skills with sketch | Figma | Adobe | <span class="portfolio__strange-text gray-text">Among others</span></li>
                        </ul>
                    </div>
                    </div>
                    <div class="portfolio__contact">
                            <h3 class="portfolio__contact-heading">Contact</h3>
                            <ul class="portfolio__contact-list">
                                <li class="portfolio__contact-item"><a href="https://google.com"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="portfolio__contact-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
                                <li class="portfolio__contact-item"><a href="#"><i class="fas fa-phone-alt"></i></a></li>
                            </ul>
                        </div>
                </div>
                <div class="portfolio__portfolio">
                    <div class="portfolio__portfolio-item">
                        <div class="portfolio__portfolio-head">
                            <div class="portfolio__portfolio-plus">
                                <div class="portfolio__portfolio-line portfolio__portfolio-line--1"></div>
                                <div class="portfolio__portfolio-line portfolio__portfolio-line--2"></div>
                            </div>
                            <div class="portfolio__portfolio-heading">zzoo Protocol</div>

                        </div>
                        <div class="portfolio__portfolio-text">
                                <p>Crypto Project | zzoo.io
                                zzoo is a decentralized cross-blockchain wallet and peer-to-peer crypto-asset.
                                <span class="gray-text">Mobile, Desktop app, Trade System.</span></p>
                                
                                <p>As part of my work on the project and as a user experience designer, there were a lot of challenges that needed to be cracked in order to build and design the protocol.
                                The work was conducted by a product team and developers from Israel/Ukraine/U.S</p>
                        </div>
                        <div class="portfolio__portfolio-slider">
                                    <div class="portfolio__portfolio-wrapper">
                                            <div class="swiper-container">
                                                    <div class="portfolio__portfolio-images swiper-wrapper">
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 01.png"></div>
                                                            <!-- <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 02.png"></div> -->
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 03.png"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 04.png"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 05.png"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 06.png"></div>
                                                            <!-- <div class="portfolio__portfolio-image swiper-slide"><img src="./img/zzoo/zzoo slide 01.png"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-2.jpeg"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-3.jpeg"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-4.jpeg"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-5.jpeg"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-6.jpeg"></div>
                                                            <div class="portfolio__portfolio-image swiper-slide"><img src="./img/gal-7.jpeg"></div> -->
                                                        </div>
                
                                            <!-- <div class="portfolio__portfolio-buttons"> -->
                                                
                                            <!-- </div> -->
                                            </div>
                                            
                                    </div>
                                    <div class="portfolio__portfolio-buttons">
                                            <div class="portfolio__portfolio-button portfolio__portfolio-button--left wiper-button-prev">L</div>
                                            <div class="portfolio__portfolio-progress-bar"><div class="portfolio__portfolio-progress-bar-elem"></div></div>
                                            <div class="portfolio__portfolio-button portfolio__portfolio-button--right wiper-button-next">R</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.querySelector('.portfolio__portfolio-plus').addEventListener('click', () => {
                document.querySelector('.portfolio__portfolio-line--2').classList.toggle('rotation');
            });

            // document.querySelector('.portfolio__portfolio-image').nextElementSibling.style.display = 'none';
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.2/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
        <script
        src="script.js"></script>

        
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>var mySwiper = new Swiper ('.swiper-container', {
    navigation: {
        nextEl: '.portfolio__portfolio-button--right',
        prevEl: '.portfolio__portfolio-button--left',
      }
});</script>
    </body>
</html>
{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat app</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
</head>
<body>
    <div class="block">
        <img alt="" class="imageClass">
    </div>
    <div class="form none">
        <div class="centered-form">
        <form class="account"> 
    <input type="radio" id="login" class="none"
           name="account" checked>
    <label for="login">Login in</label>
    <input type="radio" id="signup" class="none"
           name="account">
    <label for="signup">Sign up</label>
</form>
        <div class="centered-form__box">
            <div class="login user">
                <h1>Login in</h1>
                <form class="loginInForm">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required minlength="7">
                <button>Join</button>
            </form> 
            </div>
            <div class="signup user none">
                <h1>Register</h1>
                 <form class="form registerForm">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required pattern="^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$">
                <label>Email</label>
                <input type="email" name="username" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <label>Password</label>
                <input type="password" name="username" placeholder="Password" required minlength="7">
                <button>Register</button>
            </form>
            </div>
            {{!-- <h1>Join</h1> --}}
            
            {{!-- <form action="/app">
                <label>Display name</label>
                <input type="text" name="username" placeholder="Display name" required>
                <label>Room</label>
                <input type="text" name="room" placeholder="room" required>
                <button>Join</button>
            </form> --}}
           
<div class="centered-form__box--loading hidden">
            <svg class="centered-form__icon">
                <use xlink:href="img/sprite.svg#icon-spinner11"></use>
            </svg>
        </div>
        </div>

        
    </div>
    </div>

    <div class="app none">
        
<div class="chatApp">
        <div id="sidebar" class="chat__sidebar">
            <div class="logo"></div>
            <ul class="friends">
                <li class="friend">
                    <div class="friend__circle friend__circle--online"></div>
                    <div class="friend__name">Vitaliy Khomenko</div>
                </li>
                <li class="friend">
                    <div class="friend__circle friend__circle--offline"></div>
                    <div class="friend__name">Senctum Sanctorum</div>
                </li>
            </ul>
        </div>
        <div class="chat__main">
                <div class="main">
                    <div class="header">
                         <form class="searchForm">
                    <input type="text" class="searchInput" placeholder="Message">
                    <button id="searchButton">Search</button>
                </form>
                    <div class="profile">
                        <div class="profile__image"></div>
                        <div class="profile__name">Vitaliya</div>
                    </div>
                    </div>
                    <div class="body">
                        <form class="createChannel">
                            <input type="text" name="channel" id="channelName" placeholder="Name" minlength="4" required>
                            <input type="text" name="channel" id="channelDescription" placeholder="Description">
                            <input type="file" name="channel" accept="image/*" id="channelPicture" required>
                            <input type="radio" id="channelRadioVisible" name="channel" value="Visible" checked>
                            <input type="radio" name="channel" value="Invisible">
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
                {{!-- <div class="chat none">
                    <div id="messages" class="chat__messages"></div>

                <div class="compose">
                    <form id="messageForm">
                        <input name="message" type="text" id="messageInput" placeholder="Message" autocomplete="off">
                        <button id="messageButton">Send</button>
                    </form>
                    <button id="sendLocation">Send location</button>
                </div>
                </div> --}}
        </div>
    </div>

    <script id="chatTemplate" type="text/html">
        <div class="chat">
                    <div id="messages" class="chat__messages"></div>

                <div class="compose">
                    <form id="messageForm">
                        <input name="message" type="text" id="messageInput" placeholder="Message" autocomplete="off" minlength="1">
                        <button id="messageButton">Send</button>
                    </form>
                    <button id="sendLocation">Send location</button>
                </div>
                </div>
    </script>

    <script id="favouritesTemplate" type="text/html">
        {{#if favourites}}
        {{#favourites}}
        <ul class="favourites">
                        <li class="favourite">
                            <div class="favourite__name">{{ name }}</div>
                            <div class="favourite__description">{{ description}}</div>
                            <div class="favourite__star">
                                <svg class="favourite__icon">
                <use xlink:href="img/sprite.svg#icon-star-full"></use>
            </svg>
                            </div>
                        </li>
                    </ul>
            {{/favourites}}
            {{/if}}
    </script>

    <script id="messageTemplate" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{ username }}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p>{{message}}</p>
        </div>
    </script>

    <script id="locationMessageTemplate" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p><a href="{{url}}" target="_blank">My current location</a></p>
        </div>
    </script>

    <script id="sidebarTemplate" type="text/html">
        <h2 class="room-title">{{room}}</h2>
        <h3 class="list-title">Users</h3>
        <ul class="users">
            {{#users}}
                <li>{{username}}</li>
            {{/users}}
        </ul>
    </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.2/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
</body>
</html> --}}